@tailwind base;
@tailwind components;
@tailwind utilities;

h2 {
  @apply text-4xl font-bold;
}

h1 {
  @apply sm:text-7xl text-2xl font-bold;
}

.client-input {
  @apply w-full text-lg bg-base-100 py-2 border-opacity-10 border-2 border-transparent border-b-base-content rounded-none outline-none;
}

/* Start of the carousel styles here */
.carousel-btn {
  @apply relative transition-all sm:hover:scale-110 cursor-pointer;
}

.carousel-btn span {
  @apply sm:opacity-100 opacity-0 transition-all absolute left-0 right-0 bottom-4 text-center text-white font-bold;
}

.carousel-btn img {
  @apply rounded transition-all border grayscale border-transparent;
}

.carousel-btn input:default ~ img {
  @apply grayscale-0 border-primary;
}

.carousel-btn input:default ~ span {
  @apply opacity-0;
}
/* End of the carousel styles here */

.image-opacity-gradient {
  -webkit-mask-image: -webkit-gradient(linear, top, bottom, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 0) 100%);
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 0) 100%);
}

@media screen and (min-width: 640px) {
  .image-opacity-gradient {
    -webkit-mask-image: -webkit-gradient(linear, top, bottom, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 0) 60vh);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 0) 60vh);
  }
}

.ais-SearchBox {
  @apply relative;
}

.ais-SearchBox input {
  @apply input input-primary w-full;
}

.ais-SearchBox-submit {
  @apply hidden;
}

.ais-SearchBox-reset {
  @apply hidden;
}

.ais-Hits {
  @apply menu;
}

.ais-Hits a {
  @apply font-medium rounded text-gray-300 hover:bg-primary hover:text-primary-content transition-all;
}

.h-screen {
  height: 100vh;
}

@media (pointer: none), (pointer: coarse) {
  .h-screen {
    height: -webkit-fill-available;
  }
}
